.dashboard-page {
  display: flex;
  margin-right: 2%;
  height: 100vh;
  overflow-y: auto;
}

.dashboard-page-content {
  margin-left: 18%;
  padding: 30px 40px;
  width: 100%;
  background-color: #f4f4f4;
  overflow-y: auto;
}

.dashboard-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.dashboard-stat-box {
  width: 295px;
  height: 145px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-right: 20px;
  text-align: center;
}

.dashboard-stat-box h3 {
  font-size: 60px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-stat-box .first-word {
  margin-left: 10px;
  font-size: 30px;
}

.dashboard-stat-box p {
  font-size: 30px;
  margin: 0;
  margin-top: 5px;
}

.dashboard-stat-box.quizzes {
  color: rgba(255, 93, 1, 1);
}

.dashboard-stat-box.questions {
  color: rgba(96, 184, 75, 1);
}

.dashboard-stat-box.impressions {
  color: rgba(80, 118, 255, 1);
}

.dashboard-trending-quizzes {
  margin-top: 40px;
}

.dashboard-trending-quizzes h2 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
}

.dashboard-trending-quizzes ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  margin-right: 20px;
}

.dashboard-trending-quizzes ul li {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 181px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.dashboard-trending-quizzes ul li .quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.dashboard-trending-quizzes ul li h3 {
  font-size: 23px;
  margin: 0;
  margin-right: 10px;
}

.dashboard-trending-quizzes ul li .impressions {
  color: #f77f00;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.dashboard-trending-quizzes ul li .created-on {
  color: rgba(96, 184, 75, 1);
  font-size: 11px;
  margin-top: 5px;
}

.dashboard-trending-quizzes ul li .impressions::after {
  content: "";
  display: inline-block;
  width: 18px; /* Width of the image */
  height: 18px; /* Height of the image */
  background-image: url("../assets/icon_eyes.png"); /* Path to the image */
  background-size: cover;
  margin-left: 5px;
}
