/* Main page background */
.login-page-background {
  background-color: rgba(242, 242, 242, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Login form container */
.login-form-container {
  width: 1066px;
  height: 611px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* Title */
.login-form-container h1 {
  font-family: "Jomhuria", sans-serif;
  font-size: 100px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* Form switch buttons */
.login-form-switch {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.login-form-switch button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  color: #666;
  transition: all 0.6s ease;
  width: 217px;
}

.login-form-switch button.login-active {
  color: rgba(71, 68, 68, 1);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(80, 80, 255, 0.5);
  width: 217px;
}
.login-form-switch button:hover {
  background-color: rgba(224, 224, 224, 1);
  color: rgba(71, 68, 68, 1);
  text-decoration: none;
}

/* Form group styling */
.login-form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 230px;
}

.login-form-group label {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  width: 200px;
  text-align: right;
  padding-right: 30px;
  color: rgba(71, 68, 68, 1);
}

.login-form-group input {
  width: 100%;
  max-width: 388px;
  height: 38px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px solid #f5f5f5;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

.login-form-group input.login-error-input {
  border: 1px solid rgba(214, 0, 0, 1);
}

/* Placeholder error styling */
.login-form-group input.login-error-input::placeholder {
  color: #e74c3c;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

/* Submit button styling */
.login-submit-btn {
  width: 100%;
  max-width: 274px;
  padding: 10px;
  background-color: rgba(169, 188, 255, 1);
  color: rgba(71, 68, 68, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.login-submit-btn:hover {
  background-color: #574bdb;
}
