/* Analysis Page Styles */
.quiz-analysis-wrapper {
  display: flex;
  width: 90vw;
  height: 95vh;
}

.quiz-analysis-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 15%;
}

.quiz-analysis-content {
  padding: 20px;
}

.quiz-analysis-content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #3a77f3;
  margin-bottom: 20px;
  text-align: left;
}

.quiz-metadata {
  display: flex;
  flex-direction: column; 
  text-align: left;
  align-items: flex-start;
  margin-bottom: 20px;
  position: fixed;
  top: 5.6%;
  right: 2%;
}

.quiz-metadata p {
  margin: 0;
  font-size: 16px;
  color: #f26d21;
  font-weight: 600;
  line-height: 1.5;
}

.analysis-section {
  margin-top: 20px;
  overflow-y: auto;
  max-height: 80vh;
}

.analysis-item {
  padding: 20px;
  padding-right: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.analysis-item h3 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #000000;
}

.analysis-stats {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.stat-box {
  width: 32%;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.stat-box p:first-child {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  color: rgba(71, 68, 68, 1);
}

.stat-box p:last-child {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: rgba(71, 68, 68, 1);
}

.poll-type .stat-box {
  width: 24%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px; 
}

.poll-type .stat-box p {
  margin: 0;
}

.poll-type .stat-box p:first-child {
  font-size: 30px;
  font-weight: 600;
  color: rgba(71, 68, 68, 1);
}

.poll-type .stat-box p:last-child {
  font-size: 16px;
  font-weight: 600;
  color: rgba(71, 68, 68, 1);
}
